

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.inactive-item {
	font-style: italic;
	color: #909090;
}

h2 a {
	text-decoration: none;
	color: #333;
}
h2 a:hover {
	text-decoration: none;
	color: black;
}












