

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.heart-active-False {
	text-decoration:line-through;
	color: #909090;
}

h2 a {
	text-decoration: none;
	color: #333;
}
h2 a:hover {
	text-decoration: none;
	color: black;
}












