<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2><a href="/app/organizations/{{organization}}">{{title}}</a> &gt; Configuration</h2>
		</div>
	</div>
</div>


<div class="row" >
	<div class="span12">
		<p>Invite someone to this organization</p>
		<div class="span11 input-append">
			<form ng-submit="send()">
				<input type="email" placeholder="Email address" required class="input-block-level" ng-model="email"><input type='submit' class="btn btn-primary" value="Invite"></input>
			</form>	
		</div>
	</div>
</div>


<div class="row" >
	<div class="span12">
		<p>Users</p>
		<ul ng-repeat="user in users">
			<li>{{user}}</li>
		</ul>

	</div>
</div>

<div class="row" >
	<div class="span12">
		<form ng-submit="save()"  class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input type="text" id="title" required ng-model="title">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="alert_email">Alert Email</label>
				<div class="controls">
					<input type="email" id="alert_email" required ng-model="alert_email">
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<input type='submit' class="btn btn-primary" value="save"/><span class="help-inline"><i class="icon icon-refresh" ng-show="saving && !saved"></i><i class="icon icon-ok" ng-show="saved"></i></span>
				</div>
			</div>
			
		</form>
	</div>
</div>
