<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2><a href="/app/organizations/{{organization.key}}">{{organization.title}}</a> &gt; {{title}}</h2>
		</div>
	</div>
</div>


<div class="row" >
	<div class="span12">
		<p><i class="icon icon-time"></i> Last recorded hearbeat was {{last_pulse_text}}. <span><strong>{{today_is_maintenance_day}}</strong></span></p>
		<p><i class="icon icon-time"></i> The expected schedule is: {{cron_schedule_text}}</p>
		<p><i class="icon icon-time"></i> Meaning the next heartbeat should be {{cron_guess}}, if its hasnt pulsed within {{threshold_text}} I will raise a flatline and send emails.</p>

		
	</div>
</div>


<div class="row" >
	<div class="span12">
		<form ng-submit="save()"  class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input type="text" id="title" required ng-model="title">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="cron">Timezone</label>
				<div class="controls">
					<select id='timezone' ng-model="time_zone">
						<option>Europe/Stockholm</option>
						<option>UTC</option>
					</select>
					
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="cron">Cron Schedule</label>
				<div class="controls">
					<input type="text" id="cron" required ng-model="cron" ng-change='updateScheduleInfo()'><span class="help-inline"><a href='https://en.wikipedia.org/wiki/Cron#Format'><i class="icon icon-ban-circle" ng-hide='valid'></i> * * * * * format.</a></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="threshold">Threshold</label>
				<div class="controls">
					<input type="text" id="threshold" required ng-model="threshold" ng-change='updateScheduleInfo()'><span class="help-inline">In seconds. 0 means it wont be checked and is treated as inactive.</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="maintenance_day">Maintenance</label>
				<div class="controls">
					<input type="text" id="maintenance_day" ng-model="maintenance_day" ng-change='updateScheduleInfo()' datepicker-popup="yyyy-MM-dd"><span class="help-inline">Date for the next maintainance window, when all flatlines should be ignored.<br/><span><strong>{{today_is_maintenance_day_note}}</strong></span></span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type='submit' class="btn btn-primary" value="Save"/><span class="help-inline"><i class="icon icon-refresh" ng-show="saving && !saved"></i><i class="icon icon-ok" ng-show="saved"></i><i class="icon icon-ban-circle" ng-show='error'></i></span>
				</div>
			</div>
			
		</form>
	</div>
</div>

<div class="row" >
	<div class="span3 offset9">
		<form ng-submit="delete()"  class="form-horizontal">
			<div class="control-group">
				<div class="controls">
					<input type='submit' class="btn btn-danger" value="Delete"/><span class="help-inline"><i class="icon icon-refresh" ng-show="deleting && !deleted"></i><i class="icon icon-ok" ng-show="deleted"></i><i class="icon icon-ban-circle" ng-show='error'></i></span>
				</div>
			</div>
			
		</form>
	</div>
</div>


<div class="row" >
	<div class="span12">
		<div class="page-header"><h4>Flatlines</h4></div>
	</div>
</div>

<div class="row" >
	<div class="span12">
		<table class="table">
			<thead>
				<th>Start</th>
				<th>End</th>
				<th>Duration</th>
			</thead>
			<tbody>
				<tr class="heart-active-{{flat.active}}" ng-repeat="flat in flatlines">
					<td>{{flat.start}}</td>
					<td>{{flat.end}}</td>
					<td>{{flat.duration}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>