<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2>{{title}}</h2>
		</div>
	</div>
</div>


<div class="row" >
	<div class="span12">
		<p><i class="icon icon-time"></i> Last recorded hearbeat was {{last_pulse_text}}.</p>
		<p><i class="icon icon-time"></i> Expecting next pulse within {{threshold_guess}}, if havn't heard from it within {{threshold_guess_email}} I will raise a flatline.</p>
		<p><i class="icon icon-time"></i> Next heartbeat should be in {{cron_guess}}, if its missed I will emails within {{threshold_text}}.</p>
	</div>
</div>


<div class="row" >
	<div class="span12">
		<form ng-submit="save()"  class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input type="text" id="title" required ng-model="title">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="cron">Cron Schedule</label>
				<div class="controls">
					<input type="text" id="cron" required ng-model="cron"><span class="help-inline"><a href='https://en.wikipedia.org/wiki/Cron#Format'>* * * * * format.</a></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="threshold">Threshold</label>
				<div class="controls">
					<input type="text" id="threshold" required ng-model="threshold"><span class="help-inline">In seconds. 0 means it wont be checked and is treated as inactive.</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type='submit' class="btn btn-primary" value="save"/><span class="help-inline"><i class="icon icon-refresh" ng-show="saving && !saved"></i><i class="icon icon-ok" ng-show="saved"></i></span>
				</div>
			</div>
			
		</form>
	</div>
</div>

<div class="row" >
	<div class="span12">
		<div class="page-header"><h4>Flatlines</h4></div>
	</div>
</div>

<div class="row" >
	<div class="span12">
		<table class="table">
			<thead>
				<th>Start</th>
				<th>End</th>
				<th>Duration</th>
			</thead>
			<tbody>
				<tr ng-repeat="flat in flatlines">
					<td>{{flat.start}}</td>
					<td>{{flat.end}}</td>
					<td>{{flat.duration}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>