<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2><a href="/app/organizations/{{organization.key}}">{{organization.title}}</a> &gt; Hearts</h2>
		</div>
		<p>Here is a list of {{hearts.length}} the hearts we are monitoring for you.</p>
	</div>
</div>

<div class="row" ng-show="hearts.length == 0">
	<div class="span12">
		<p>There are no hearts for you currently, start sending pulses to http://heartrate-monitor.appspot.com/pulse?org={{organization}}&amp;id="Your heart name here"</p>
	</div>
</div>

<div class="row" ng-show="hearts.length != 0">
	<div class="span12">
		<ul ng-repeat="heart in hearts">
			<li><a href="/app/organizations/{{organization.key}}/hearts/{{heart.key}}">{{heart.title}}</a></li>
		</ul>
	</div>
</div>
