<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2>Invitation to {{title}}</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>Great news!</p>
		<p>You have been invited to {{title}}.</p>

		<p>Heartrate-monitor will keep track of scheduled tasks reporting to it. Informing you when the tasks stop reporting in within the expected time. Simple yet effective way to keep track that tasks are being executed.</p>

		<div class="control-group">

			<div class="controls">
				<button ng-click="accept" class="btn btn-primary">Accept</button>
				<button ng-click="decline" class="btn btn-warning">Decline</button>
			</div>
		</div>
	</div>
</div>