<div class="row">
	<div class="span12">
		<div class="page-header">
			<div class='control-group pull-right'>
			<a class='btn' href="/app/organizations/{{organization}}/config"><i class="icon-cog" ></i></a>
			<a class='btn' href="/app/organizations/{{organization}}/hearts"><i class="icon-heart" ></i><i class="icon-list" ></i></a>

			<a class='btn' href="/app/organizations/{{organization}}/report"><i class="icon-tasks" ></i></a>
		</div>
			<h2>{{title}} &gt; Overview</h2>
		</div>
	</div>
</div>

<div class="row" >
	<div class="span11 alert alert-info" ng-show="newhearts.length != 0">
		<h2>New heartbeats</h2>
		There are new hearts being monitorered, please take a moment to describe each.
		<ul ng-repeat="heart in newhearts">
			<li><a href="/app/organizations/{{organization}}/hearts/{{heart.key}}">{{heart.title}}</a></li>
		</ul>
	</div>
</div>

<div class="row"  ng-show="flatlines.length != 0">
	<div class="span11 alert alert-danger">
		<h2>Critical!</h2>
		<p>Heartbeats have not been reported within the critical time period for the following hearts.</p>
		<ul ng-repeat="flatline in flatlines">
			<li><a href="/app/organizations/{{organization}}/hearts/{{flatline.heart}}">{{flatline.title || flatline.heart}} flatlined {{flatline.how_long}}</a></li>
		</ul>
	</div>
</div>


<div class="row" ng-show="flatlines.length == 0">
	<div class="span11 alert alert-success">
		<h2>Relax!</h2>
		<p>Everything is reporting within expected ranges.</p>
	</div>
</div>


