<div class="row">
	<div class="span12">
		<div class="page-header">
			<h2>{{title}}</h2>
		</div>
	</div>
</div>

<div class="row" ng-show="newhearts.length != 0">
	<div class="span11 alert alert-info">
		<h2>New heartbeats</h2>
		There are new hearts being monitorered, please take a moment to describe each.
		<ul ng-repeat="heart in newhearts">
			<li><a href="#/organizations/{{organization}}/{{heart.key}}">{{heart.title}}</a></li>
		</ul>
	</div>
</div>

<div class="row"  ng-show="flatlines.length != 0">
	<div class="span11 alert alert-danger">
		<h2>Critical!</h2>
		<p>Heartbeats have not been reported within the critical time period for the following hearts.</p>
		<ul ng-repeat="flatline in flatlines">
			<li><a href="#/organizations/{{organization}}/{{flatline.heart}}">{{flatline.title || flatline.heart}}</a></li>
		</ul>
	</div>
</div>


<div class="row" ng-show="flatlines.length == 0">
	<div class="span11 alert alert-success">
		<h2>Relax!</h2>
		<p>Everything is reporting within expected ranges.</p>
	</div>
</div>


